/*1. 清除页面默认样式*/
body,h2,p{
	margin: 0;
}

html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #fff;
    word-break: break-all;
    padding: 0;
    margin: 0;
}

body{
    position: relative;
    width: 100%;
    min-height: 100%;
    /* height: 100%; */
    /* overflow: visible; */
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "微软雅黑", "黑体", "Microsoft YaHei", "SimSun", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #212121;
}

img {
    border: none;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    list-style-type: none;
}

a{
    outline:none;
    text-decoration: none;
    color: #212121;
}

.header-index {
    height: 190px;
    /* box-shadow: 0 0 8px rgba(191, 191, 191, .7); */
    border-bottom: 2px #3ab5e6 solid;
    position: relative;
    z-index: 102;
}

.header-index-state {
    height:30px;
    line-height: 30px;
    background: #f5f5f5;
}

.header-index-state-all {
    font-size: 12px;
    color : #666;
    margin: 0 auto;
    width : 1200px;
}

.fl{
    float: left;
}

.cl-6{
    color:#666;
}

.cl-c{
    color:#ccc;
}

.pd-0005{
    padding: 0 5px ;
}

.pd-0015{
    padding: 0 15px ;
}

.mr30{
    margin-right: 30px;
}

.fr{
    float:right;
}

[class^="icon-"], [class*=" icon-"] {
    speak: none;
    font-style: normal;
    /* font-weight: normal; */
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.acount {
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    left: -11px;
    width: 60px;
    padding: 2px 10px 10px 10px;
    border: 1px #e8e8e8 solid;
    background-color: #fff;
}

.acount a {
    display: block;
    font-size: 12px;
    line-height: 25px;
}

.to-hd {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ma{
    margin: 0 auto;
}

.wd-1200{
    width: 1200px;
}

.search-container .logo-container{
    height:90px;
    padding-top:30px;
}

.logo-box{
    width: 325px;
    height:90px;
}

.search-box{
    width: 550px;
    height: 35px;
    line-height:35px;
    border:2px #2db4ea solid;
}

.fs-12{
    font-size : 12px;
}

.lh-25{
    line-height:25px;
}

.db{
    /*定义为块级元素*/
    display: block;
}

.wd-480{
    width: 480px;
}

.pr{
    position: relative;
}

.zi-1{
    /*设置图片堆叠顺序*/
    z-index: 1;
}

.search-box input[type=text] {
    /* width: 446px; */
    width: 460px;
    height: 35px;
    padding: 0 10px;
    line-height: 35px;
    font-size: 16px;
    display: block;
    border: none;
}

.bd-n{
    border: none;
}

.search-box p{
    width: 70px;
    height: 100%;
    background-color: #2db4ea;
    line-height: 35px;
    color: #fff;
    text-align: center;
    display: block;
}

.fs-27 {
    font-size: 22px;
}

.cl-f {
    color: #fff;
}

.cl-rd-l {
    color: #e4393c;
}

.cl-9{
    color:#999;
}

.ta-rt {
    text-align: right;
}

.mt-8 {
    margin-top: 8px;
}

.fr {
    float: right;
}

.bd-1-d {
    border: 1px #ddd solid;
}

.fs-16 {
    font-size: 16px;
}

.pd-0610 {
    padding: 6px 10px;
}

.br-4{
    -webkit-border-radius: 4px;
}

.mr-5{
    margin-right: 5px;
}

.mr-10{
    margin-right: 10px;
}

.type {
    width: 170px;
    padding-left: 30px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #3ab5e6;
}

.nav{
    line-height: 40px;
    padding-left: 30px;
    font-size: 16px;
}


<!-- footer -->
.footer {
    border-top: 1px #e1e1e1 solid;
    background-color: #fff;
}

.footer .tag {
    padding: 20px;
    height: 60px;
    border-bottom: 1px #e1e1e1 solid;
    border-top: 1px #e1e1e1 solid;
}

.footer .tag ul {
    padding: 0 50px;
    width: 1100px;
    margin: 0 auto;
}

.cl-4{
    color:#444;
}

.pd-0500 {
    padding: 5px 0;
}

.wd-25p {
    width: 25%;
}

.fs-24 {
    font-size: 24px;
}

.pd-2000 {
    padding: 20px 0;
}

.footer .links-box {
    position: relative;
    width: 850px;
}

.lh-30{
    line-height: 30px;
}

.wd-20p{
    width:20%;
}

.lh-40 {
    line-height: 40px;
}

.ta-ct {
    text-align: center;
}

.mt-15 {
    margin-top: 15px;
}

.fw-bd {
    font-weight: bold;
}

.wd-50p {
    width: 50%;
}

.code-box {
    width: 240px;
    padding: 0 24px 0 46px;
}

.clearfix{
    padding: 10px 0;
}

.section.bc-f5 {
    background-color: #f5f5f5;
}

.bc-f5 {
    background-color: #f5f5f5;
}

.section {
    /margin-top: -1px;
    min-height: 500px;
    padding-bottom: 50px;
    background-color: #fff;
    position: relative;
}

.ht-400 {
    height: 400px;
}

.menu {
    width: 200px;
    height: 400px;
    background-color: rgba(76,76,76,.8);
    position: absolute;
    z-index: 101;
    top: 0;
    left: 50%;
    margin-left: -600px;
}

.menu .title {
    position: relative;
    z-index: 11;
    padding: 0 30px;
    padding-left: 52px;
    height: 40px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.banner {
    width: 1920px;
    height: 400px;
    position: relative;
}

#imgyuan{
    width: 182px;
    height: 20px;
    border-radius: 12px;
    background-color: red;
    padding-left: 13px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    background-color: rgba(1, 150, 0, 0);
}

#imgyuan a{
    border:1px solid white;
    width:11px;
    height:11px;
    border-radius:50%;
    margin-right: 25%;
    margin-top: 4px;
    display: block;
    float: left;
    background-color: white;
}
