{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <script src="{% static 'js/jquery-1.11.3.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
    <script src="{% static 'js/gVerify.js' %}"></script>
</head>
<body>
    <!--头部-->
    <div class = 'header-index'>
        <!--logo+搜索+购物车+导航-->
        <div class = 'wd-1200 ma'>
            <!--logo+搜索+购物车-->
            <div class = 'search-container'>
                <div class="logo-container">
                    <a class = 'db logo-box fl mt-8' href="/index">
                        <img width="220" class ='db' src="{% static 'images/logo.png' %}" draggable="false" alt="">
                    </a>

                    <div class = 'cb'></div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="reg-bar-tips mt-25">
            <p class="lh-2 fs-16">
                <strong>用户注册</strong>
            </p>
            <div class="ht-30 pr">
                <div class="reg-bar step-1 active wd-585 lh-2p2 cl-f">
                    <p class="ta-ct">1.填写注册信息</p>
                    <span class="item"></span>
                </div>
                <div class="reg-bar step-2 wd-585 lh-2p2">
                    <p class="ta-ct">2.注册成功</p>
                    <span class="item"></span>
                </div>
            </div>
        </div>
        <div class="wd-720 mg-a mt-20">
            <form class="reg-frame lh-2p5" action="/register/" method="post" id="formReg" onsubmit="return check_register()">
                {% csrf_token %}
                <ul>
                    <li>
                        <!-- .reg-err 表单错误信息显示区域 除了找回密码发送验证 不用cl-rd 其余所有错误同意使用cl-rd -->
                        <div class="pl-90 reg-err ht-35">
                            <b class="cl-rd" id="err_uname"></b>
                            <b class="cl-rd" id="err_upwd"></b>
                            <b class="cl-rd" id="err_upwds"></b>
                            <b class="cl-rd" id="err_uphone"></b>
                            <b class="cl-rd" id="err_authcode"></b>
                            <b class="cl-rd" id="err_smscode"></b>
                        </div>
                    </li>
                        <!--用户名-->
                    <li>
                        <div class="ht-35">
                            <div class="wd-90 ta-ct fl">姓名：</div>
                            <div class="fl pr ">
                                <input class="wd-266 ht-24 lh-24 pd-0406" type="text" name="uname" id="uname" value="">
                                <span class="icon-zzwrong-block cl-67"></span>
                            </div>
                            <div class="fl ml-10">
                                <p>&nbsp;</p>
                            </div>
                            <div class="cb"></div>
                        </div>
                    </li>
                        <!--密码-->
                    <li class="mt-20">
                        <div class="ht-35">
                            <div class="wd-90 ta-ct fl">密码：</div>
                            <div class="fl pr ">
                                <input class="wd-266 ht-24 lh-24 pd-0406" type="text" name="upwd" id="upwd" value="">
                                <span class="icon-zzwrong-block cl-67"></span>
                            </div>
                            <div class="fl ml-10">
                                <p>&nbsp;</p>
                            </div>
                            <div class="cb"></div>
                        </div>
                    </li>
                        <!--重复密码-->
                    <li class="mt-20">
                        <div class="ht-35">
                            <div class="wd-90 ta-ct fl">确认密码：</div>
                            <div class="fl pr ">
                                <input class="wd-266 ht-24 lh-24 pd-0406" type="text" name="upwds" id="upwds" value="">
                                <span class="icon-zzwrong-block cl-67"></span>
                            </div>
                            <div class="fl ml-10">
                                <p>&nbsp;</p>
                            </div>
                            <div class="cb"></div>
                        </div>
                    </li>
                        <!--手机号-->
                    <li class="mt-20">
                        <div class="ht-35">
                            <div class="wd-90 ta-ct fl">手机号：</div>
                            <div class="fl pr ">
                                <input class="wd-266 ht-24 lh-24 pd-0406" type="text" name="uphone" id="uphone" value="">
                                <span class="icon-zzwrong-block cl-67"></span>
                            </div>
                            <div class="fl ml-10">
                                <p>&nbsp;</p>
                            </div>
                            <div class="cb"></div>
                        </div>
                    </li>
                        <!--图形验证码-->
                    <li class="mt-20">
                        <div class="ht-35">
                            <div class="wd-90 ta-ct fl">图形验证码：</div>
                            <div class="fl">
                                <div class="fl pr">
                                    <input class="wd-166 ht-24 lh-24 pd-0406" type="text" name="authcode" id="authcode" value="" maxlength="5">
                                    <span class="icon-zzwrong-block cl-67"></span>
                                </div>

                                <div class="fl ml-10 check_img" id="v_container"></div>
                            </div>
                            <div class="fl ml-10">
                                <a class="cl-bl-l get_authcode">看不清，点击图片刷新</a>
                            </div>
                            <div class="cb"></div>
                        </div>

                    </li>
                        <!--验证码-->
                    <li class="mt-20">
                        <div class="ht-35">
                            <div class="wd-90 ta-ct fl">验证码：</div>
                            <div class="fl">
                                <div class="fl pr">
                                    <input class="wd-156 ht-24 lh-24 pd-0406" type="text" name="smscode" id="smscode" value="">
                                    <span class="icon-zzwrong-block cl-67"></span>
                                </div>
                                <input class="reg-frame-btn ml-10 " id="getchecknumber" type="button" onclick="getchecknum()" style="cursor:pointer" value="获取验证码">
                            </div>
                            <div class="fl ml-10">
                                <p>&nbsp;</p>
                            </div>
                            <div class="cb"></div>
                        </div>
                    </li>
                    <li class="wd-370 ta-rt">
                        <input class="reg-btn mt-35 lh-2p4" style="cursor:pointer" type="submit" value="注册">
                        <div class="wd-328 ma">
                            <p class="ta-rt cl-bl-l" style="cursor:pointer">已有账号&nbsp;<a class="cl-bl-l" href="/login.php">前往登录</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="ta-lt wd-300" style="margin-left: 50px;line-height: 20px;padding: 20px 0 200px 0;">
                            <label class="pr">
                                <input id="treaty-btn" class="" name="treaty" type="checkbox" value="我已阅读并同意">我已阅读并同意
                                <a class="cl-bl-l showProtocal" data-type="one" href="javascript:;">《博库网用户注册协议》</a>
                            </label>
                            <a class="cl-bl-l db showProtocal" data-type="two" href="javascript:;">《博库网隐私政策》</a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div style="clear: both">
    </div>
    <!--尾部-->
    <div class="footer">
        <!-- tag -->
        <div class="tag">
            <ul class="clearfix">
                <li class="cl-4 lh-25 pd-0500 wd-25p fl">
                    <img src="{% static 'images/zheng.png' %}" alt="" width="50" height="50" class="fl mr-10">
                    <div class="fl">
                        <p class="fs-24 ">全场正品</p>
                        <p>出版社直采</p>
                    </div>
                    <div class="cb"></div>
                </li>
                <li class="cl-4 lh-25 pd-0500 wd-25p fl">
                    <img src="{% static 'images/sheng.png' %}" alt="" width="50" height="50" class="fl mr-10">
                    <div class="fl">
                        <p class="fs-24 ">全场满５９包邮</p>
                        <p>惊喜不断·让利多多</p>
                    </div>
                    <div class="cb"></div>
                </li>
                <li class="cl-4 lh-25 pd-0500 wd-25p fl">
                    <img src="{% static 'images/huo.png' %}" alt="" width="50" height="50" class="fl mr-10">
                    <div class="fl">
                        <p class="fs-24 ">门店自取</p>
                        <p>就近灵活·方便快捷</p>
                    </div>
                    <div class="cb"></div>
                </li>
                <li class="cl-4 lh-25 pd-0500 wd-25p fl">
                    <img src="{% static 'images/hao.png' %}" alt="" width="50" height="50" class="fl mr-10">
                    <div class="fl">
                        <p class="fs-24 ">售后无忧</p>
                        <p>服务体验·更加精彩</p>
                    </div>
                    <div class="cb"></div>
                </li>
            </ul>
        </div>
        <div class="wd-1200 ma pd-2000 clearfix">
            <!--尾部左边-->
            <ul class="links-box fl clearfix">
                <li class="lh-30 wd-20p fl">
                    <span class="db fs-16 lh-40 ">新手指南</span>
                    <div><a target="_blank" class="hover cl-6" href="">新用户注册</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">购物流程</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">积分制度</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">注册开店</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">激励制度</a></div>
                </li>
                <li class="lh-30 wd-20p fl">
                    <span class="db fs-16 lh-40 ">支付与配送</span>
                    <div><a target="_blank" class="hover cl-6" href="">IC卡充值说明</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">验货与签收</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">配送范围</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">自行取货</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">支付方式</a></div>
                </li>
                <li class="lh-30 wd-20p fl">
                    <span class="db fs-16 lh-40 ">售后服务</span>
                    <div><a target="_blank" class="hover cl-6" href="">发票制度</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">退换货流程</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">退换货地址</a></div>
                </li>
                <li class="lh-30 wd-20p fl">
                    <span class="db fs-16 lh-40 ">个人中心</span>
                    <div><a target="_blank" class="hover cl-6" href="">店铺设置</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">团队管理</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">收入管理</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">我的订单</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">我的优惠券</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">我的等级</a></div>
                </li>
                <li class="lh-30 wd-20p fl">
                    <span class="db fs-16 lh-40 ">了解博库</span>
                    <div><a target="_blank" class="hover cl-6" href="">关于博库</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">联系我们</a></div>
                    <div><a target="_blank" class="hover cl-6" href="">公司招聘</a></div>
                </li>
            </ul>
            <!--尾部右边-->
            <div class="code-box fr">
                <ul class="clearfix">
                    <li class="cl-6 lh-30 ta-ct wd-50p fl">
                        <p class="fs-16 lh-40 ">手机博库</p>
                        <!--懒加载的模式-->
                        <img data-src="" align="" width="105" height="105" class="db bd-1-d ma visible" src="">
                        <p class="lh-30">下载手机客户端</p>
                    </li>
                    <li class="cl-6 lh-30 ta-ct wd-50p fl">
                        <p class="fs-16 lh-40 ">关注微信</p>
                        <!--懒加载的模式-->
                        <img data-src="" align="" width="105" height="105" class="db bd-1-d ma visible" src="">
                        <p class="lh-30">关注官方微信</p>
                    </li>
                </ul>

                <div class="cl-6 lh-25 mt-15" style="clear:both;padding-top: 15px;">
                    <p class="fs-16 fw-bd" style="display: block;clear:both;">服务热线&nbsp;0571-88888888</p>
                    <p>服务时间&nbsp;9：00-21：00</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>